*{
  margin: 0px;
  padding: 0px;
}

.title{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,44,60,1) 0%, rgba(10,25,13,1) 100%, rgba(82,143,186,1) 100%, rgba(3,178,157,1) 100%, rgba(0,255,229,1) 100%);
height: 75px;
color: #f3e9e9;
font-family: 'Varela Round', sans-serif;
font-size: 40px;
font-weight:normal;

}

.title p{
  padding-left: 30px;
  padding-top: 10px;
}

#content{
  display: flex;
}


#sidebar{
  text-align: center;
  position: fixed;
  width: 200px;
  height: 100%;
  color: #f3e9e9;
font-family: 'Varela Round', sans-serif;
background: #2E2E3E;
background: -webkit-linear-gradient(right, #2E2E3E, #1B2027);
background: -moz-linear-gradient(right, #2E2E3E, #1B2027);
background: linear-gradient(to left, #2E2E3E, #1B2027);
}

#workArea{
  margin-left: 200px;
  width: 100%;
}

.projectListItem{
  width: 90%;
  text-align: left;
  background: #aaaaaa;
  margin: 10px;
  border-radius: 10px;
  transition: box-shadow .3s;
  cursor: pointer;
}
.projectListItem:hover {
box-shadow: 0 0 10px  #eeeeee;
}


.project{
  color: #412b2b;
  border: none;
  background: none;
  height: 40px;
  font-size: large;
  padding-left: 10px;
}

.remove-project{
  border: none;
  background:#a89191;
  height: 30px;
  width: 30px;
  font-size: larger;
  color: #c85000;
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 4px;
  
}

#openAddProject, #openAddTaskModal {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#openAddProject:hover,
#openAddProject:active {
  background-color: #FFFFFF;
  background-position: 0 0;
  color: #FF4742;
}

#openAddProject:active {
  opacity: .5;
}
#openAddTaskModal {
  margin: 30px;
}

#openAddTaskModal:hover, #openAddTaskModal:active{
  background-color:initial;
  background-position: 0 0;
  color: #FF4742;
}

#openAddTaskModal:active{
  opacity: .5;
}



#addProjectDiv{
  height: 200px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

#addProjectDiv input[type=text]{
  border: none;
  border-radius: 4px;
  background-color: #5bf1ddc2;
  color: rgb(49, 36, 36);
  width: 70%;
  height: 25px;
  padding-left: 3px;
  margin-bottom: 2px;
  font-size: large;
}

#addProject{
  width: 40%;
  height: 25px;
  border: none;
  border-radius: 4px;
  background-color: #7abe21c2;
  color: #FFFFFF;
  font-size: large;
}

#closeAddProject{
  width: 30%;
  border: none;
  border-radius: 4px;
  background-color: #7abe21c2;
  color: #FFFFFF;
  height: 25px;
  margin: 3px;
  font-size: large;
}

#newTask{
  text-align: center;
}


.modal {
  border-radius: 10px;
 display: none; /* Hidden by default */
 position: absolute; /* Stay in place */
 z-index: 1; 
 left: 40%;
 top: 30%;
 padding-top:10px;
 padding-left: 10px;
 padding-right: 5px;
 width: 500px; /* Full width */
 height: 300px; /* Full height */
 overflow: auto; 
color: #1fe4f5;
box-shadow: 0 0 1px 2000px rgba(0, 0, 0, 0.3);

background: rgb(255,175,75);
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
background: radial-gradient(ellipse at center,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=1 );


 
}



.close {
 color: #aaaaaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
 width: 100%;
 text-align: right;
}

.close:hover,
.close:focus {
 color: #000;
 text-decoration: none;
 cursor: pointer;
}

.modal label{
  font-size: larger;
  color: #291b1b;
  margin: 4px;
  margin-top: 10px;

}

.modal input[type=text]{
  border: none;
  border-radius: 4px;
  height: 25px;
  width: 300px;
  margin-top: 10px;
  font-size: large;
  padding-left: 5px;

}

.modal input[type=date], .modal input[type=range]{
  border: none;
  border-radius: 4px;
  margin-top: 20px;
} 

#addTask {
  margin-top: 20px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

#addTask:hover,
#addTask:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#addTask:hover {
  transform: translateY(-1px);
}

#addTask:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.card {
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background: radial-gradient(#1fe4f5, #3fbafe);
    position: relative;

  }

  .card:hover {
    box-shadow: 0px 6px 10px rgba(128, 115, 115, 0.4);
    transform: scale(1.01);
  }

.headerCard {
  font-family: 'Yuji Syuku', serif;
  font-size: x-large;
  font-weight: bolder;
  color: #ffffff;
}

.containerCard{
  font-size: larger;
  font-family: 'Fjalla One', sans-serif;
}

#todoList{
    display: flex;
  flex-wrap: wrap;

}

.removeTodo, .doneTask{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.removeTodo:hover, .removeTodo:focus, .doneTask:hover, .doneTask:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.removeTodo:hover, .doneTask:hover {
  transform: translateY(-1px);
}

.removeTodo:active, .doneTask:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.done{
  background: #eeeeee;
background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #cccccc 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#cccccc 100%);
background: radial-gradient(ellipse at center,  #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );

}

.removeTodo{
  position: absolute;
  bottom: 10px;
  left: 10px;
}


.doneTask{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#newTask , #todoList , body{
  background: #ecd5d5;
}

