.title{
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-color: bisque;
    text-align: center;
}

#workArea{
    background-color: rgb(147, 172, 172);
    height: 750px;
    
}

body{
    margin: 0px;
    height: 800px;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
p{
    margin: 0px;
    padding: 5px;
    font-size: x-large;
}

#newTask{
    text-align: center;
    height: 100px;
    background-color: rgb(218, 174, 110);

}

#addTask{
    margin-top: 30px;
}

#display{
    background-color: aquamarine;
    height: 650px;
}

.card {
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 200px;
    /* display: grid;
    grid-template-columns: 20px 50px 50px; */
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background: radial-gradient(#1fe4f5, #3fbafe);
  }

  .card:hover {
    box-shadow: 0px 6px 10px rgba(128, 115, 115, 0.4);
    transform: scale(1.01);
  }

.headerCard {

  font-weight: 400;
  color: #ffffff;
}

#todoList{
    display: flex;
  flex-wrap: wrap;

}

.removeTodo, .doneTask{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.removeTodo:hover, .removeTodo:focus, .doneTask:hover, .doneTask:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.removeTodo:hover, .doneTask:hover {
  transform: translateY(-1px);
}

.removeTodo:active, .doneTask:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.done{
  background: #eeeeee;
background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #cccccc 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#cccccc 100%);
background: radial-gradient(ellipse at center,  #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );
text-decoration: line-through;

}